.post {
  width: 60%;
  padding: 15px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
  &__title {
    border-bottom: 1px solid #f1e8e8;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;

     &::first-letter {
       text-transform: capitalize;
     }
  }

  &__description {
    padding: 10px;
  }

  &__sub-title {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
  }

  &__body {
    font-size: 14px;
    padding: 0;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}